body {
    margin: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    gap: 20px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 20px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/*First Body Starts Here*/

.first-body {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 700px;
}

.hero-text button {
    margin-top: 20px;
    padding: 6px 30px;
    border-radius: 15px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 24px;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.main-second-text {
    font-size: 18px;
    color: #e5e7eb;
}

/*First Body Ends Here
  Second Body Starts Here  */

.second-body {
    background-color: #FFF;
    margin: 40px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 60px;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

/*Second Body Ends Here
  Third Body Starts Here  */

.third-body {
    background-color: #e5e7eb;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 100px;
}

.quote-box {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1150px;
}

.quote-attribute {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 800;
    font-size: 30px;
}

/*Third Body Ends Here
  Fourth Body Starts Here  */

.fourth-body {
    background-color: #FFF;
    margin: 40px;
    display: flex;
    margin: 0;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    flex-basis: 50em;
    padding-top: 60px;
    padding-right: 180px;
    padding-left: 180px;
    padding-bottom: 60px;
    border-radius: 25px;
}

.call-header {
    font-weight: 700;
    font-size: 24px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourth-body button {
    font-weight: 800;
    font-size: 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
    padding: 6px 30px;
}

/*Fourth Body Ends Here*/

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 20px;
}